*{
    padding:0;
    margin:0;
}
@font-face {
    font-family:'Cookie' ;
    src: url(Cookie-Regular.ttf);
}
body{

    background-image: url("back24.jfif"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    
}
.navbar{
    width: 100%;
    align-items: center;
    height: 100px;
    text-align: left;
    background-color: rgb(245, 214, 188);   
    margin-bottom: 10px;
}
.logo{
    
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    padding: 5px;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color:black;
    font-size: 18px;
    margin-top: 20px;
}
.navbar a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.navbar a:hover{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color:black;
    font-size: 18px;
    text-decoration:underline black;
    transition: 1ms;
}
.search{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 20px;
    float: right;
    padding: 5px;
    height: 50px;
    width: 65px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
.t1{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}
.option{
    background-image: linear-gradient(rgba(245, 214, 188, 0.7),rgba(245, 214, 188, 0.7));
    margin-top: 100px;
    height: 300px;
    width: 45%;
    border-radius: 20px;
    
}
.vo{
    
    margin-top: 100px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    background-color:rgb(219, 181, 145);
}
.vp{
    margin-top: 40px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    background-color: rgb(219, 181, 145);
}